<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AñadirCarrito</servlet-name>
        <servlet-class>Servlet.AñadirCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregaralCarrito</servlet-name>
        <servlet-class>Servlet.AgregaralCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AñadiralCarrito</servlet-name>
        <servlet-class>Servlet.AñadiralCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrardeCarrito</servlet-name>
        <servlet-class>Servlet.BorrardeCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contacto</servlet-name>
        <servlet-class>Servlet.Contacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contacto</servlet-name>
        <servlet-class>Servlet.contacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pago</servlet-name>
        <servlet-class>Servlet.Pago</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/nuevousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AñadiralCarrito</servlet-name>
        <url-pattern>/agregarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrardeCarrito</servlet-name>
        <url-pattern>/quitarcarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contacto</servlet-name>
        <url-pattern>/Contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contacto</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pago</servlet-name>
        <url-pattern>/Pago</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
